body{
    background-color: #fff;
}
#shoppingbag{
    border-bottom: 1px solid rgb(181, 179, 179);
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
}
#sbtn{
    color: white;
    background-color: black;
    padding: 9px 12px;
    letter-spacing: 0.8px;
    border: none;
}
#sbtn:hover{
    cursor: pointer;
    background-color: rgb(124, 121, 121);
}
#pqs{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#cartitems_wrapper{
    width: 1180px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
   
}
#data_wrapper{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
     border-bottom: 1px solid rgb(181, 179, 179);
}
#firstchild,#secondchild{
    display: flex;
}
#firstchild>div:nth-child(2){
    margin-left: 20px;
    padding: 0;
}
#secondchild{
    display: flex;
    justify-content: space-between;
    width: 19%;
}
.font_unique{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;font-weight: normal;
    letter-spacing: 0.8px;
}
#item_no,#size{
    color:rgb(98, 96, 96);
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

#desc,.price{
    color:rgb(98, 96, 96);
}
#removebtn{
    color:rgb(158, 152, 152);
    /* border: none; */
    background-color: white;
    font-size: medium;
    display: block;
    padding-top: 9px;
    border: none;
    margin-left: 0px;
}
#cross:hover{
    cursor: pointer;
    color: black;
}
#cross{
    color: rgb(106, 103, 103);
    margin-left: 5px;
}
.asbtn{
    border:none;
    margin-right: 10px;
    font-size:18px;
    padding: 4px;
    color: rgb(87, 85, 85);
}
.asbtn:hover{
    cursor: pointer;
    color:black;
}
#promotiondiv{
    width: 1180px;
    margin: auto;
    border-bottom: 1px solid rgb(158, 152, 152);
    padding-bottom: 20px;
}
#promotiondiv>div:nth-child(2){
    color:rgb(158, 152, 152);
    margin-top: 5px;
}
#finaldiv{
    width: 1180px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(158, 152, 152);
}
#price_wrapper{
    display: flex;
    justify-content: space-between;
}
#coupon{
    display: flex;
    margin-top: 10px;
}
#inputpromo{
    width: 350px;
    padding: 10px;
    border: 1px solid rgb(172, 170, 170);
}
#promobtn{
    width: 210px;
    padding: 12px;
    border: none;
}
#promobtn:hover{
    cursor: pointer;
    background-color:rgb(204, 200, 200) ;
}
#total>div:nth-child(1){
    text-align: end;
}
#checkout{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
/* font-family: Arial, Helvetica, sans-serif;font-weight: normal; */
                    /* letter-spacing: 0.8px; */
#checkoutbtn1{
    width: 180px;
    padding: 10px;
    background-color: rgb(239, 238, 238);
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 0.8px;
}
#checkoutbtn1:hover{
    cursor: pointer;
    background-color: rgb(204, 200, 200);
}
#spanptotal{
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 10px;
}
#checkoutbtn2{
    width: 220px;
    padding: 9px;
    border: none;
    color: white;
    background-color: black;
}
#checkoutbtn2:hover{
    cursor: pointer;
    background-color: rgb(124, 121, 121);
}
#qs{
    margin-left: -10px;
    padding: 5px;
}
body{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }