#footer-editorial{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  display: block;
  width: 1000px;
  margin: 0 auto;
  border-top: 1px solid #dfdfdf;
  padding: 30px 80px 20px;
}
#footer-editorial > h1{
  -webkit-text-size-adjust: 100%;
    letter-spacing: .8px;
    color: #000;
    box-sizing: inherit;
    margin: 0 0 .67em;
    font-weight: 400;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}
#footer-editorial > p{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
}
#footer-editorial > div{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  display: block;
}
#footer-editorial > div > div{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
.col2-set{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1000px;
}
.col-1{
  width: 135%;
}
.col-2{
  width: 131%;
}
.col-1 > h3{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  font-size: 15px;
  text-transform: uppercase;

}
.col-1 > ul li{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
.col-2 h3{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin: 0 0 10px;
  font-weight: 400;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.col-2 li{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer-editorial > p:nth-child(2){
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 12px;
  letter-spacing: .8px;
  color: rgb(255, 0, 0);
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.mytheresa{
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,;
  -webkit-text-size-adjust: 100%;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
}
.p1{
  font-family: Arial,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100%;
  letter-spacing: .8px;
  color: #000;
  box-sizing: inherit;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
}
.p1 a{
  color: #000;
}