.popup {
  position: absolute;
  width: 65.9%;
  height: 460px;
  z-index: 100;
  /* border: 1px solid red; */
  /* display: none; */
}
.just {
  background-color: #f2f2f2;
  height: 3rem;
  display: flex;
  align-items: center;
  width: 1180px;
}
.just span {
  margin-right: 10rem;
  margin-left: 1.4rem;
  font-size: 13px;
  color: #2a2a2a;
  font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica,
    Arial, sans-serif;
}
.box {
  display: flex;
  justify-content: space-between;
  max-width: 22.2em;
  /* border: 1px solid red; */
}
.left-box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
  height: 8em;
  width: 8em;
  margin-top: 0.5em;
}
.left-box span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.4rem;
  font-size: 13px;
  color: #7a7a7a;
}
.poster {
  /* border: 1px solid red; */
  width: 50.2rem;
  margin-left: 1.4rem;
  position: relative;
  left: 29.7em;
  bottom: 8.5em;
}
.poster img {
  width: 85%;
  height: 100%;
}
.bx{
  margin-top: -3em;
  color: #f2f2f2;
  position: relative;
  left: 3.1em;
}