.popup {
  position: absolute;
  width: 65.9%;
  height: 459px;
  z-index: 100;
  top: 13rem;
  /* border: 1px solid red; */
  /* display: none; */
  display: none;
  background-color: #ffffff;
}
.just {
  background-color: #f2f2f2;
  height: 3rem;
  display: flex;
  align-items: center;
  width: 1180px;
}
.just span {
  margin-right: 10rem;
  margin-left: 1.1rem;
  font-size: 13px;
  color: #2a2a2a;
  font-family: Futura-Medium, Century Gothic, Gill Sans, Helvetica,
    Arial, sans-serif;
}
.box {
  display: flex;
  justify-content: space-between;
  max-width: 22em;
  margin-left: 10px;
  /* border: 1px solid red; */
}
.left-box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.6rem;
  height: 8em;
  width: 8em;
  margin-top: 0.5em;
}
.left-box span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.4rem;
  font-size: 13px;
  color: #7a7a7a;
  cursor: pointer;
}
.left-box span:hover {
  color: #2a2a2a;
}
.poster {
  /* border: 1px solid red; */
  width: 42.6rem;
  height: 25.7rem;
  margin-left: 1.4rem;
  position: relative;
  left: 29.7em;
  bottom: 8.5em;
  background: url('https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW50/WW_FLYOUTS/Cruise23_Flyout_Long_batch_01_2x_20221212121008.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* .poster img {
  width: 85%;
  height: 100%;
  cursor: pointer;
} */
.bx{
  margin-top: -3em;
  color: #f2f2f2;
  position: relative;
  left: 3.1em;
}

.title-and-button{
  -webkit-text-size-adjust: 100%;
  color: #000;
  /* visibility: hidden; */
  width: 50rem;
  list-style: none;
  letter-spacing: .5px;
  font-size: 13px;
  white-space: nowrap;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  box-sizing: inherit;
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 1.5em;
}
.text{
  -webkit-text-size-adjust: 100%;
  /* visibility: hidden; */
  list-style: none;
  text-transform: uppercase;
  box-sizing: inherit;
  font-weight: 400;
  color: #fff;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  font-size: 33px;
  letter-spacing: .2px;
  line-height: 1em;
  text-align: center;
  max-width: 90%;
  white-space: normal;
  margin: 0 auto 25px;
}
.button-wrapper{
  -webkit-text-size-adjust: 100%;
  color: rgb(0, 0, 0);
  /* visibility: hidden; */
  list-style: none;
  letter-spacing: .5px;
  font-size: 13px;
  white-space: nowrap;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  box-sizing: inherit;
}
.button-wrapper a{
  -webkit-text-size-adjust: 100%;
  /* visibility: hidden; */
  list-style: none;
  white-space: nowrap;
  box-sizing: inherit;
  text-decoration: none;
  display: inline-block;
  z-index: 999;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background-color .4s ease-out,border-color .4s ease-out,color .4s ease-out;
  padding: 7px 20px;
  width: auto;
  color: #000;
  background-color: #fff;
  border-color: #757575;
}
.button-wrapper a::after{
  position: relative;
  bottom: 1px;
  content: " \00BB";
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* -------------------------------- */

.poster2{
  width:30rem;
  background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW50/WW_FLYOUTS/Flyout_Paris-Texas_2x_20221212121132.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 42.3em;
  bottom: 8.5em;
}
.box2{
  display: flex;
  justify-content: space-between;
  max-width:37em;
  /* border: 1px solid red; */
  margin-left: 10px;
}
.just2{
  background-color: #f2f2f2;
  height: 3rem;
  display: flex;
  align-items: center;
  width: 1180px;
}
.bx2{
  margin-top: -3em;
  color: #f2f2f2;
  position: relative;
  left: 9em;
}



/* ---------------------------------- */

.poster3{
background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW50/WW_FLYOUTS/CW50_Flyout_Regular_1_2x_20221212121208.jpg');
}
.poster4{
  background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW50/WW_FLYOUTS/CW50_Flyout_1420x940_Winterboots_x2_20221213115119.jpg');
}
.poster5{
  background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/LIFE_FO_2022_CW49/CW49_WW_HP_Flyout_Regular_1_2x_20221205153706.jpg');
}
.poster6{
  background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW50/WW_FLYOUTS/CW50_Flyout_Regular_2_2x_20221212121207.jpg');
}
.poster7{
  background-image: url('https://img.mytheresa.com/media/static/raw/cms/l/LIFE_FO_2022_CW49/CW49_WW_HP_Flyout_Regular_2_2x_20221205153708.jpg');
}

.bx3{
  position: relative;
  left: 14em;
}
.bx4{
  position: relative;
  left: 18.7em;
}
.bx5{
  position: relative;
  left: 22.5em;
}
.bx6{
  position: relative;
  left: 27.5em;
}
.bx7{
  position: relative;
  left: 33em;
}
.bx8{
  position: relative;
  left: 39.5em;
}
.bx9{
  position: relative;
  left: 44.5em;
}



/* ------------------------------------------------------------ */

.fastive{
  /* border: 1px solid red; */
  width: 1180px;
}
.fastive-box{
  /* border: 1px solid red; */
  width: 100%;
  height: 89%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 1.1rem;
}
.grid{
  padding:0px;
  cursor: pointer;
  width: 280px;
  height: 196px;
  transition: all 350ms ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.grid div{
  width: 100%;
  height:10em;
  /* border: 1px solid red; */
  color: #fff;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.grid p{
  margin-bottom: 15px;
}
.g1{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_01_2x_20221024103435.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.g2{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_02_2x_20221024103436.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g3{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_03_2x_20221024103437.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g4{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_04_2x_20221024103437.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g5{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_05_2x_20221024103438.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g6{
  background-image: url('//img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_06_2x_20221024103437.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g7{
  background-image: url('///img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_07_2x_20221024103438.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.g8{
  background-image: url('///img.mytheresa.com/media/static/raw/cms/l/WW_HP_2022_CW43/Flyouts/Flyout_Festive_ASSETS_WW_08_2x_20221024103438.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* ---------------------------------- */

.text-sale{
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  font-size: 110px;
  letter-spacing: .2px;
  line-height: 1em;
  text-align: center;
  max-width: 90%;
  white-space: normal;
  margin: 0 auto 25px;
  color: red;
  font-weight: 500;
}
.x-sale{
  width: 40rem;
  height: 22rem;
  margin-left: 1.4rem;
  position: relative;
  left: 29.7em;
  bottom: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-wrapper .btn-dark{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-color: #757575;
}



/* ------------------------------------------- */

#account-popup{
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 65rem;
  /* border: 1px solid rgb(255, 1, 1); */
  height: 25.2rem;
  width: 18rem;
  z-index: 1000;
  background-color: #f2f2f2;
}
.bx-account{
  color: #f2f2f2;
  position: relative;
  left: 7em;
  bottom: 1.2em;
}
#account-popup .account-top{
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rebeccapurple; */
}
#account-popup h3{
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.8rem;
  margin-top: 0.6em;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}
.account-top{
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rebeccapurple; */
}
.account-top input{
  height: 3em;
  width: 18em;
  border: 1px solid #d9d9d9;
  padding-left: 1em;
  margin-top: 0.8em;
  background-color: #fdfbfb;
  font-weight: 500;
  color: rgb(133, 133, 133);
}
.account-top button{
  height: 2.3em;
  width: 19em;
  border: 1px solid #d9d9d9;
  background-color: #000000;
  color: #ffffff;
  margin-top: 0.8em;
}
.account-top button:hover{
  background-color: rgb(157, 157, 157);
  cursor: pointer;
  transition: 0.6s;
}
#account-popup .close{
  position: relative;
  font-size: 1.4em;
  font-weight: 100;
  left: 11.8em;
  color: #c1c1c1;
}
.account-bottom{
  height: 3em;
  width: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rebeccapurple; */
  background: #fff;
  margin-top: 0.5em;
  padding-bottom: 10px;
}
.account-bottom span{
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 0.6em;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  margin-bottom: 0.8em;

}
.account-bottom h3{
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1.6em;
  font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
  color: #797979;
}

.count{
  cursor: pointer;
}
